body::before {
  display: block;
  content: '';
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.pimage
{
  border-radius :8px;
}

.profile{
  border: 2px solid black;

}
.rounded-circle{

  border: 2px solid black;
}