@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Rubik&family=Source+Code+Pro:wght@200&family=Ubuntu:wght@300&display=swap');

.container-fluid
{
    background-color: #ffce47;
    border-bottom: 2px solid black;

}


 .name{
     margin-top: 1%;
     margin-left: 5%;
     display: inline-block;
     font-family: 'Manrope', sans-serif;
     font-size: 300%;
     font-weight: 600;
 }
.header-btn
{
    
    filter: drop-shadow(0px 5px 4px black);
}

.btn-container{
    margin-left: 80%;
    display: flex;
    justify-content: space-between;
}
.headerbtn:hover
{
    color : yellowgreen;
}